header{
    padding: 20px 0;
    text-align:  center;
    background-color: #FFC0CB;
}
header  h1{
    color: seagreen;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}