<!-- Pokemon Grid -->
<div class="search-content">
  <input class="search-input" type="text" placeholder="Input your Pokemon name" #searchString (keyup.enter)="searchByPokeName(searchString.value)">
  <button class="btn btn-info" (click)="searchByPokeName(searchString.value)">Search</button>
</div>
<div class="pokemon-grid">
  <div class="box" 
  *ngFor="let pokemon of pokemons | paginate:{itemsPerPage:10,currentPage:page,totalItems:totalPokemons}"
  >
    <img [src]="pokemon.sprites.front_default" alt="" />
    <h3 class="pokemon-name">{{ pokemon.name }}</h3>
    <p><b>Type: </b>{{ pokemon.types[0].type.name }}</p>
    <p><b>Health:</b> {{ pokemon.stats[0].base_stat }}</p>
    <p><b>Attack Damage: </b>{{ pokemon.stats[1].base_stat }}</p>
    <p><b>Defense: </b>{{ pokemon.stats[2].base_stat }}</p>
    <p><b>Speed:</b> {{ pokemon.stats[5].base_stat }}</p>
  </div>
</div>
<!-- End of pokemon grid -->
<pagination-controls (pageChange)="page=$event;pokemons=[];getPokemon()"></pagination-controls>