/* Pokemon grid */
.pokemon-grid {
  display: grid;
  grid-gap: 16px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
}
.pokemon-grid .box {
  width: 100%;
  height: 400px;
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.3);
  display: grid;
  text-align: center;
}

.pokemon-grid .box img {
  display: block;
  max-width: 100px;
  margin: 0 auto;
}
.pokemon-name {
  text-transform: uppercase;
}
pagination-controls{
  text-align: center;
}
.search-content{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.search-input{
  width: 230px;
  border: inset;
}

