/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&family=Rubik+Wet+Paint&display=swap');
* {
    padding: 0;
    margin: 0;

}
body{
   font-family:preahvihear;
}